<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="base.css">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
      <style>
        {% include 'css/base.css' %}
      </style>
        <div class="GrandBandeauHaut">
          <div class="BandeauImg">
<<<<<<< Updated upstream
            <img src="img/gsb.png">
=======
			<img src="img/gsb.png">
>>>>>>> Stashed changes
          </div>
          <div class="TitreBandeauHaut">
            <p class="LblBienvenue"> Bienvenue Mr XXXXXXX
            <button class="BtnDeconnexion"type="button" name="deconnexion"><a href="{{ path('deconnexion') }}" style="color: rgb(255,255,255);">Déconnexion</a></button></p>
          </div>
        </div>
        <div class="Conteneur">
            <div class="Gauche">
				<p><b>Gestion des Médicaments:</b></p>
				<li><a href="{{ path('index') }}">Retour à l'accueil</a></li></br>
				<li><a href="{{ path('SiteGSB_ajouterMedicament') }}">Ajouter un médicament</a></li></br>
				<li><a href="{{ path('SiteGSB_ajouterExcipient') }}">Ajouter un exipient</a></li>
				
            </div>
            <div class="Droite">
              {% block body %}

              {% endblock %}
            </div>
        </div>

    </body>
</html>
